.background {
  min-height: 300px;
  position: relative;
}

.background::after {
  content: "";
  background: url('../../../../assets//images/backgrounds/madrid.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.35;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.text {
  margin: auto;
  display: grid;
  place-items: center;
  height: 50vh;
  text-align: center;
  width: 250px;
  font-size: 25px;
  color: rgb(33, 97, 140);
  text-shadow: -3px 4px 11px rgba(51, 51, 51, 0.58);
  font-family: Work Sans
}