.section-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  align-content: center;
  position: relative;
}
