.section-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  align-content: center;
  position: relative;
  /* background-color: #010100; */
}

.link {
  opacity: 0.85;
}

.link:hover {
  opacity: 1;
}
